@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

html{
    background-color: #81c644;
}

.background{
    background: #81c644;
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
}



.wrapper{
  padding-top: 60px;
  background: #81c644;
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  box-sizing: border-box;
}

.wrapper h1{
  font-family: 'Allura', cursive;
  font-size: 72px;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.team .team_member h3{
  color: #81c644;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 20px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}

#root{
  background-color: #81c644;
}

.abot{
  width: 100%;
  font-size: 26px;
  padding-left: 7%;
  display: flex;
  justify-content: space-between;
}

.lf{
  /* background-color: chocolate; */
  /* padding-bottom: 40vh; */
  /* height: 400px; */
  width: 36%;
  height: 400px;
  padding-bottom: 30px;

}

#imgy{
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar{
  width: 25px;
  /* border: 0.25em solid hsl(120 75% 50% / 1); */
}
:-webkit-scrollbar-track {
  /* background: hsl(120 75% 50% / 1); */
  border: 7px solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  /* border-radius: 100vw; */
  /* margin-block: 0.5em; */
}

::-webkit-scrollbar-thumb {
  /* background: hsl(120 100% 20% / 1); */
  background: linear-gradient(
  45deg ,
  #06dee1,
  #7bff6c);
  border: 0.25em solid hsl(120 75% 50% / 1);
  border-radius: 3px;
}

.sur{
  font-size: 77px;
  font-family: 'Dancing Script', cursive;
  padding: 20px;
}

.part2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #2377e4;
  padding-bottom: 10vh;
  color: white;
}

.snap{
  height: 100%;
  scroll-snap-align:start;

}

.about{
  scroll-snap-type: y mandatory;
}



