@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&display=swap');

html{
    background-color: white;
}


.idk{
    height: 500px !important;
}

.p1{
    height: 250px;
    background-color: black;
    margin: 0px !important;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    scroll-behavior: smooth;
}
.p2{
    width: 80%;
    
}
.p1 h1{
    font-size: 44px;
}
.parallax-window{
    height: 400px !important;
}